{{> header}}
{{> head}}
<div class="cover">
  <div class="logo"></div>
</div>
<div class="container">
  <div class="plans">
    {{> plan1}}
    <div class="gap"></div>
    {{> plan2}}
    <div class="gap"></div>
    {{> plan3}}

  </div>
  {{> newsletter}}
  <div class="profile">
    <div class="avatar"></div>
    {{> bio}}
  </div>
</div>
{{> modal1}}
{{> modal2}}
{{> modal3}}
{{> footer}}
{{> js}}