{{> header}}
{{> head}}
<div class="container">
        <h1>{{meta_title}}</h1>
<div class="cover"></div>
<div class="plans">
<div class="plan">
    <h2>Coaching</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, labore!</p>
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, accusamus.</p>

</div>
<div class="plan">
    <h2>Leadership Development</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, labore!</p>
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, accusamus.</p>

</div>
<div class="plan">
        <h2>Speaking and Writing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, labore!</p>
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, accusamus.</p>

</div>
<div class="action">
       <a href="#" class="btn">CTA here</a>
</div>
<div class="action">
       <a href="#" class="btn">CTA here</a>
</div>
<div class="action">
       <a href="#" class="btn">CTA here</a>
</div>
</div>
</div>
{{> footer}}
{{> js}}