{{> header}}
<div class="container">
        <h1>{{meta_title}}</h1>
        <h3>Design 1</h3>

        <h3>Business Card</h3>
        <img src="../images/bizcard.png">

         <h3>Site</h3>
        <img src="../images/ipad1.png">
         <img src="../images/ipad2.png">
         <h3>Site, full</h3>
</div>
<div class="site">
    <div class="container">
        <img src="../images/design.png">
    </div>
</div>

{{> js}}