{{> header}}
{{> head}}
<div class="cover">
  <div class="logo">
    <div class="line ver"></div>
    <div class="line hor"></div>
    <h1>TreeBridge</h1>
    <h2>Ventures</h2>
  </div>
  <div class="quote">
    <div class="line ver"></div>
    <div class="line hor"></div>
    <p>Transformed people transform people.</p>
    <p class="sig">Richard Rohr</p>
  </div>

</div>
<div class="main">
  <div class="plans">
    {{> plan1}}
    <div class="gap"></div>
    {{> plan2}}
    <div class="gap"></div>
    {{> plan3}}

  </div>
  {{> newsletter}}
  <div class="profile">
    <div class="column">
      <div class="avatar">
        <div class="line ver"></div>
        <div class="line hor"></div>
<div class="photo"></div>
      </div>
    </div>
    {{> bio}}
  </div>
</div>
{{> modal1}}
{{> modal2}}
{{> modal3}}
{{> footer}}
{{> js}}