{{> header}}
{{> head}}
<div class="cover">
  <h1>{{meta_title}}</h1>
</div>
<div class="container">
  <div class="plans">
    <div class="plan">
      <h2>Coaching</h2>
      <p>Laudantium odit reprehenderit corporis quasi esse temporibus deleniti sint. Velit, natus cum.</p>
      <p class="quote">Perspiciatis quo quibusdam mollitia voluptatibus ex maxime explicabo eos laborum fugit doloribus!</p>

    </div>
    <div class="gap"></div>
    <div class="plan">
      <h2>Leadership Development</h2>
      <p>Repellendus voluptate dolorem totam reprehenderit, quibusdam accusamus id et praesentium vitae necessitatibus.</p>
      <p class="quote">Odio numquam cumque fugiat eveniet! Cum ipsa nisi voluptas doloremque beatae inventore!</p>

    </div>
    <div class="gap"></div>
    <div class="plan">
      <h2>Speaking and Writing</h2>
      <p>Aspernatur velit eaque vitae nobis voluptatem numquam ratione tempora! Odio ex, reprehenderit.</p>
      <p class="quote">Repudiandae facere ipsum quod beatae, consequuntur doloremque soluta dicta autem. Laudantium, qui?</p>

    </div>
    <div class="action">
      <a href="#" class="btn" data-toggle="modal" data-target="#CTA-1">Modal trigger</a>
   </div>
   <div class="gap"></div>
   <div class="action">
    <a href="#" class="btn" data-toggle="modal" data-target="#CTA-1">Modal trigger</a>
   </div>
   <div class="gap"></div>
   <div class="action">
    <a href="#" class="btn" data-toggle="modal" data-target="#CTA-1">Modal trigger</a>
   </div>
 </div>
 <div class="newsletter">
  <h3>Join the Newsletter</h3>
  <form></form>
</div>
<div class="profile">
  <div class="avatar"></div>
  <div class="description">
    <h2>About Dominic Longo</h2>
    <p>Maiores voluptas quis molestiae aut qui veniam accusantium, dolore sapiente consectetur hic.</p>
    <p>Ab, sequi magni eveniet eos minima ex velit error labore, omnis magnam, illo porro, excepturi dolor provident quo sit aspernatur.</p>
  </div>
</div>
</div>
{{> cta}}
{{> footer}}
{{> js}}