{{> header}}
{{> head}}
<div class="cover">
  <h1>{{meta_title}}</h1>
</div>
<div class="container">
  <div class="plans">
    {{> plan1}}
    <div class="gap"></div>
{{> plan2}}
    <div class="gap"></div>
    {{> plan3}}

 </div>
{{> newsletter}}
<div class="profile">
  <div class="avatar"></div>
  {{> bio}}
</div>
</div>
{{> cta}}
{{> footer}}
{{> js}}