{{> header}}
{{> head}}
<div class="cover">
  <h1>{{meta_title}}</h1>
</div>
<div class="container">
  <div class="plans">
    {{> plan1}}
    <div class="gap"></div>
{{> plan2}}
    <div class="gap"></div>
    {{> plan3}}

 </div>
{{> newsletter}}
<div class="profile">
  <div class="avatar"></div>
  <div class="description">
    <h2>About Dominic Longo</h2>
   <p> I am an executive coach, facilitator of transformation, and leadership development expert based in New York City. I have special expertise in cross-cultural communication and in helping leaders find meaning and purpose in their work. I am passionate about catalyzing the transformation of individuals and organizations to unlock their full potential for flourishing.</p>
<p>As a strategy consultant and Engagement Manager at McKinsey in both the Middle East and the United States, I focused on organizational transformations where developing new kinds of leadership and higher levels of capability were mission-critical. I also led internal training programs at McKinsey, including the week-long training program for new-hires and workshops on Centered Leadership and organizational change. </p>
<p>I have served clients across many industries and sectors in the Middle East and United States, particularly in tech, financial services, agriculture, education, medical devices, non-profits, and national governments. Earlier in my career, I was Middle East business development manager for the world’s largest agricultural irrigation manufacturer.</p>
<p>A published author and scholar of queer comparative theology, I am former director of the Muslim-Christian Dialogue Center at the University of St. Thomas in Minnesota, where I taught courses on leadership and diversity &amp; inclusion in undergraduate and MBA programs. I have delivered guest lectures at the University of Washington, KU Leuven (Belgium), Boston College, The Evergreen State College (Washington), Hamline University (Minnesota), &amp; The New School (NYC). I completed master’s and doctoral degrees in Arabic and Islamic Studies at Harvard University, as well as an undergraduate degree in French and German and a master’s degree in theology at Boston College. I am also an alum of the American University in Cairo, where I completed an intensive advanced Arabic program.</p>
<p>I am a member of the International Coach Federation, having completed the coaching curriculum at the Coaches Training Institute. My recent pro bono work focuses on coaching and mentoring recently released prisoners to help them adapt and flourish in society.</p>
<p>A citizen of the United States and Italy, I grew up in Nebraska and am a native English speaker with professional proficiency in Arabic, French, and German, and limited working proficiency in Italian and Spanish. Outside of the USA, I have lived, worked, or studied in Egypt, Dubai, Bahrain, Germany, France, Turkey, Italy, El Salvador, and Costa Rica. </p>
<p>I especially enjoy scintillating conversation over shared meals, eye-opening experiences of world cultures and art, plus engaging my body in building greater strength, flexibility, and new skills. For many years I have sung in choirs of various kinds, most recently in a gay men’s chorus.</p>
  </div>
</div>
</div>
{{> cta}}
{{> footer}}
{{> js}}