{{> header}}
{{> head}}
<div class="cover">
  <h1>{{meta_title}}</h1>
</div>
<div class="container">
<div class="plans">
<div class="plan">
    <h2>Coaching</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, labore!</p>
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, accusamus.</p>

</div>
<div class="gap"></div>
<div class="plan">
    <h2>Leadership Development</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, labore!</p>
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, accusamus.</p>

</div>
<div class="gap"></div>
<div class="plan">
        <h2>Speaking and Writing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, labore!</p>
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, accusamus.</p>

</div>
<div class="action">
       <a href="#" class="btn">CTA here</a>
</div>
<div class="gap"></div>
<div class="action">
       <a href="#" class="btn">CTA here</a>
</div>
<div class="gap"></div>
<div class="action">
       <a href="#" class="btn">CTA here</a>
</div>
</div>
<div class="newsletter">
<h2>Join the Newsletter</h2>
<form></form>
</div>
<div class="profile">
  <div class="avatar"></div>
  <div class="description">
    <h2>About Dominic Longo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptas quis molestiae aut qui veniam accusantium, dolore sapiente consectetur hic.</p>
    <p>Ab, sequi magni eveniet eos minima ex velit error labore, omnis magnam, illo porro, excepturi dolor provident quo sit aspernatur.</p>
  </div>
</div>
</div>
{{> footer}}
{{> js}}