<div class="description">
  <div class="panel-group" id="bio">
    <div class="panel">
      <a data-toggle="collapse" data-parent="#bio" href="#bioOne" class="collapse-trigger" aria-expanded="true">
        <h2>About Dominic Longo</h2><i class="fa fa-angle-down"></i>
      </a>
      <div id="bioOne" class="collapse in">
        <p>I am an executive coach, facilitator of transformation, and leadership development expert based in New York City. I have special expertise in cross-cultural communication and in helping leaders find meaning and purpose in their work. I am passionate about catalyzing the transformation of individuals and organizations to unlock their full potential for flourishing.
</p>

      </div>
    </div>

    <div class="panel">
      <a data-toggle="collapse" data-parent="#bio" href="#bioTwo" class="collapse-trigger">
        <h3>Professional Background</h3>
        <i class="fa fa-angle-down"></i>
      </a>
      <div id="bioTwo" class="collapse">
   <p>As a strategy consultant and Engagement Manager at McKinsey in both the United States and the Middle East, I focused on organizational transformations where developing new kinds of leadership and higher levels of capability were mission-critical. I also led internal training programs at McKinsey, including the week-long training program for new-hires and workshops on Centered Leadership and organizational change.
</p>
<p>I have served clients across many industries and sectors, particularly in tech, financial services, agriculture, education, medical devices, non-profits, and national governments. Earlier in my career, I was Middle East business development manager for the world’s largest agricultural irrigation manufacturer, Valmont Enterprises.
</p>
<p>A published author and scholar of queer comparative theology, I am former director of the Muslim-Christian Dialogue Center at the University of St. Thomas in Minnesota, where I taught undergraduate and MBA courses on inclusive leadership, and on Christian theology and Islamic Studies.
</p>
<p>I have delivered guest lectures at the University of Washington, KU Leuven (Belgium), Boston College, The Evergreen State College (Washington), Hamline University (Minnesota), & The New School (NYC). I completed an M.A. and Ph.D. in Arabic and Islamic Studies at Harvard University, and a B.A. in French and German and an M.A. in theology at Boston College. I am also an alumnus of the American University in Cairo and the Middlebury Language School, where I completed intensive advanced Arabic programs.
</p>
      </div>
    </div>
    <div class="panel">
      <a data-toggle="collapse" data-parent="#bio" href="#bioThree" class="collapse-trigger">
        <h3>Why I Do This</h3>
        <i class="fa fa-angle-down"></i>
      </a>
      <div id="bioThree" class="collapse">
      <p>My passion for learning and growing has powered my life journey. Intense curiosity about the world and the intricacies of the human condition run through my studies in foreign languages, literature, and religion.
</p>
<p>Facilitating others’ learning and growth aligns fully with my personal values. In this work I continue to become myself more fully. It’s like being a midwife:  With each individual and group I work with, we together birth the world of our dreams. As Richard Rohr wrote, “Transformed people transform people.”
</p>
<p>I am an active member of the NYC chapter of the International Coach Federation, having completed the co-active coaching curriculum and 10-month leadership program at the Coaches Training Institute. At McKinsey & Company, I was trained to facilitate the Centered Leadership program and led many internal and client workshops on organizational transformation.
</p>
<p>My recent pro bono work focuses on coaching and mentoring recently released prisoners to help them flourish in society outside the walls.
</p>
     </div>
   </div>
   <div class="panel">
    <a data-toggle="collapse" data-parent="#bio" href="#bioFour" class="collapse-trigger">
      <h3>Personal Life</h3><i class="fa fa-angle-down"></i>
    </a>
    <div id="bioFour" class="collapse">
    <p>A citizen of the United States and Italy, I grew up in Nebraska and am a native English speaker with professional proficiency in Arabic, French, and German, and limited working proficiency in Italian and Spanish. Outside of the USA, I have lived, worked, or studied in Egypt, Dubai, Bahrain, Germany, France, Turkey, Italy, El Salvador, and Costa Rica.
</p>
<p>I especially enjoy scintillating conversation over shared meals, eye-opening experiences of world cultures and art, plus engaging my body in building greater strength, flexibility, and new skills. For many years I have sung in choirs of various kinds, most recently in a gay men’s chorus.</p>
   </div>
 </div>
</div>



</div>




