<footer class="footer">
<!-- <div class="links">
  <a href="#">Lorem</a>
  <a href="#">Animi</a>
  <a href="#">Quis</a>
  <a href="#">Quae</a>
  <a href="#">Delectus</a>
</div>
<div class="links">
  <a href="#">Lorem</a>
  <a href="#">Error</a>
  <a href="#">Praesentium</a>
  <a href="#">Ducimus</a>
  <a href="#">Inventore</a>
</div>

<div class="links">
  <a href="#">Lorem</a>
  <a href="#">Ratione</a>
  <a href="#">Officia</a>
  <a href="#">Ipsa</a>
  <a href="#">Eos</a>
</div> -->
</footer>