<div class="plan">
      <div class="panel-group" id="coaching">
      <div class="panel">
        <a data-toggle="collapse" data-parent="#coaching" href="#coachingOne" class="collapse-trigger">
       Coaching
        <i class="fa fa-angle-down"></i>
      </a>
        <div id="coachingOne" class="collapse in">
           <p>Coaching is a process that supports your growth and development on both personal and professional levels. it is not advice, mentoring, therapy, or counseling. Coaching is not a way for me to solve your problems. Rather, it is a relationship of exploration, reflection, challenge, and action.</p>
        </div>
      </div>

      <div class="panel">
        <a data-toggle="collapse" data-parent="#coaching" href="#coachingTwo" class="collapse-trigger">
      How it works
        <i class="fa fa-angle-down"></i>
      </a>
        <div id="coachingTwo" class="collapse">
        <p>I will be an accountability partner to you. Most of the work of transformation will occur in between the times you and I speak. In ways that we co-design, I will hold you accountable to your own commitments. </p>
<p>Coaching can be especially useful for people who are going through important changes or who want to make major changes happen in their lives.</p>
<p>With me as your coach, you set the agenda. Together we look in you for the land of possibility. Together we chart the way from where you are now to where you yearn to be. </p>
<p>You will gain resourcefulness and power, finding within your own ingenuity the solutions to your problems. You will create new patterns and habits that serve you in alignment with your values and direction in life.</p>
        </div>
      </div>
      <div class="panel">
        <a data-toggle="collapse" data-parent="#coaching" href="#coachingThree" class="collapse-trigger">
     Nuts and bolts
        <i class="fa fa-angle-down"></i>
      </a>
        <div id="coachingThree" class="collapse">
        <p>In individual coaching, dialogue between us will be our primary interaction, complemented by text and/or email correspondence between sessions, to the extent it is helpful. I typically have 45 minute sessions with individual clients by telephone, every two weeks. </p>
<p>In team coaching, the process is very similar. Together the group sets the agenda. Accompanying the group, we all look together within the group for what is most needed. Like an individual person, organizations have within themselves values, hopes, dreams, self-sabotaging patterns, traumas, untapped potential, forgotten resources, and the ever-present possibility of transformation. </p>
<p>Some typical elements of coaching sessions include values clarification, brainstorming, identifying plans of action, and examining modes of operating in life. I will sometimes ask you powerful questions and other times hold spacious silence as you work something out. </p>
<p>We all have many voices. Some sabotage and undermine. Others offer helpful resources and perspective. Noticing these voices and allowing their energy out is another way to increase consciousness and personal mastery.</p>
        </div>
      </div>
      <div class="panel">
        <a data-toggle="collapse" data-parent="#coaching" href="#coachingFour" class="collapse-trigger">
     My Clients
        <i class="fa fa-angle-down"></i>
      </a>
        <div id="coachingFour" class="collapse">
       <p>My clients inspire me! I coach clients who have had it with the same old gripes. I coach clients who are yearning to step into their power and claim the life of their dreams. I coach clients who have high ambitions to make great contributions and flourish personally while doing so.</p>
<p>I am especially eager to coach people who are taking new initiatives in their lives or work and thus need to grow rapidly to deal with increased complexity and challenge. Entrepreneurs, teams and founders of start-ups, and executives rising to new heights in their careers often fit this profile. People who have recently moved to a new part of the world or who are preparing for such a move also often find themselves a good fit for me as their coach.</p>
        </div>
      </div>
      </div>


      <a href="#" class="btn" data-toggle="modal" data-target="#CTA-1">Schedule Exploratory Session</a>
       <p class="addon">Let's get to know each other and explore our potential fit for a coaching relationship.</p>
    </div>