<div class="plan">
  <div class="panel-group" id="speaking">
    <div class="panel">
      <a data-toggle="collapse" data-parent="#speaking" href="#speakingOne" class="collapse-trigger" aria-expanded="true">
        <h2>Speaking and Writing</h2><i class="fa fa-angle-down"></i>
      </a>
      <div id="speakingOne" class="collapse in">
       <p>Doloribus perferendis, velit recusandae, asperiores provident dicta similique numquam repudiandae necessitatibus placeat reprehenderit vitae dolor, corporis hic molestias tempore vero fuga error.</p>
       <p>Eius nobis quas ut consequuntur quam iure neque sit deleniti iste voluptatibus voluptatem possimus, earum laborum eum totam ducimus. Ab, eius, error.</p>
     </div>
   </div>

   <div class="panel">
    <a data-toggle="collapse" data-parent="#speaking" href="#speakingTwo" class="collapse-trigger">
      <h3>How it works</h3><i class="fa fa-angle-down"></i>
    </a>
    <div id="speakingTwo" class="collapse">
      <p>Eius numquam doloribus quam eum, dolorem rerum voluptates nihil fugit animi dolorum?</p>
      <p>Laudantium, eum accusamus impedit in non fugiat recusandae animi. Nostrum deleniti est, doloremque provident quos fuga id. Natus, neque, soluta.</p>
    </div>
  </div>
  <div class="panel">
    <a data-toggle="collapse" data-parent="#speaking" href="#speakingThree" class="collapse-trigger">
      <h3>Nuts and bolts</h3><i class="fa fa-angle-down"></i>
    </a>
    <div id="speakingThree" class="collapse">
      <p>Aspernatur nam beatae eius error, reiciendis quae nobis repellat ipsam, voluptates tenetur!</p>
      <p>Atque culpa libero laudantium ex, sapiente inventore veniam officia enim nobis vel magnam accusamus hic iure temporibus, dolorum vitae possimus.</p>
    </div>
  </div>
  <div class="panel">
    <a data-toggle="collapse" data-parent="#speaking" href="#speakingFour" class="collapse-trigger">
      <h3>My Clients</h3><i class="fa fa-angle-down"></i>
    </a>
    <div id="speakingFour" class="collapse">
     <p>Libero debitis, vitae laborum quo. Dicta eligendi accusantium vitae consequuntur, est in.</p>
     <p>Maxime quae a aliquid, molestias ipsum recusandae eveniet, minus in accusamus blanditiis consequuntur iste numquam magnam aliquam dolore. Sunt, ducimus.</p>
   </div>
 </div>
</div>


<a href="#" class="btn" data-toggle="modal" data-target="#CTA-1">Schedule Exploratory Session</a>
<p class="addon">Doloribus at ex maxime asperiores pariatur consequatur incidunt qui alias ducimus deserunt libero error!</p>
</div>