<div class="plan">
  <div class="panel-group" id="coaching">

    <div class="panel">
      <a data-toggle="collapse" data-parent="#coaching" href="#coachingOne" class="collapse-trigger" aria-expanded="true">
        <h2>Coaching</h2><i class="fa fa-angle-down"></i>
      </a>
      <div id="coachingOne" class="collapse in">
       <p>Coaching supports your growth and development. It is a relationship of exploration, reflection, challenge, and action—resulting in personal transformation. You will find new ways to see the world, new ways to act, and new capacities to adapt to whatever life brings.</p>
     </div>
   </div>
<div class="panel">
    <a data-toggle="collapse" data-parent="#coaching" href="#coachingFour" class="collapse-trigger">
      <h3>My Clients</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="coachingFour" class="collapse">
     <p>My clients inspire me! Have you had it with the same old gripes? Are you yearning to step into your power and claim the life of your dreams?  Do you have ambitions to make great contributions and flourish personally while doing so?</p>
     <p>I am eager to coach you when you are taking new initiatives and need to grow rapidly to deal with increased complexity and challenge. This happens when your start-up is taking off or your career is rising to new heights. You’re ready for me as your coach when you’re moving to new part of the world and feeling both daunted and excited by what’s ahead.</p>
     <p>Entrepreneurs whose enterprises are growing, executives gaining new responsibilities, and professionals adapting to a new culture are some of the client profiles that fit especially well with my coaching style and skills.</p>
   </div>
 </div>
   <div class="panel">
    <a data-toggle="collapse" data-parent="#coaching" href="#coachingTwo" class="collapse-trigger">
      <h3>How it works</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="coachingTwo" class="collapse">
      <p>I will be an accountability partner to you. Most of the work of transformation will occur in between the times you and I speak. In ways that we co-design, I will hold you accountable to your own commitments. </p>
      <p>With me as your coach, you set the agenda. Together we look in you for the land of possibility. Together we chart the paths from where you are now to where you yearn to be. </p>
      <p>You will gain resourcefulness and power, finding within your own ingenuity the solutions to your problems. You will create new patterns and habits that serve you better than your old ones, in better alignment with your personal values and your purpose in life.</p>
    </div>
  </div>
  <div class="panel">
    <a data-toggle="collapse" data-parent="#coaching" href="#coachingThree" class="collapse-trigger">
      <h3>Nuts and bolts</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="coachingThree" class="collapse">
     <p>In individual coaching, dialogue between us will be our primary interaction in 45-minute sessions by telephone, every two weeks. We will correspond between sessions to the extent it is helpful. I coach primarily in English, and can use French, Arabic, and/or German as a secondary coaching language.</p>
     <p>As a “co-active” coach, my focus is both on your being and your doing. Typical elements of sessions include values clarification, brainstorming, identifying plans of action, and examining modes of operating in life. I will sometimes ask powerful questions and other times hold spacious silence as you work something out.</p>
     <p>In team coaching, the process is similar. Together the group sets the agenda. Together we look within the group for what is most needed. Organizations—like individuals—hold within themselves values, hopes, dreams, self-sabotaging patterns, traumas, untapped potential, forgotten resources, and the ever-present possibility of transformation. </p>
    </div>
  </div>

</div>


<a href="#" class="btn" data-toggle="modal" data-target="#coachingModal">Schedule Exploratory Session</a>
<p class="addon">Let’s get to know each other and explore our potential fit for a coaching relationship. I will come into this conversation extremely curious about you and your wildest dreams!</p>
</div>


