<div class="plan">
  <div class="panel-group" id="speaking">
    <div class="panel">
      <a data-toggle="collapse" data-parent="#speaking" href="#speakingOne" class="collapse-trigger" aria-expanded="true">
        <h2>Speaking and Writing</h2><i class="fa fa-angle-down"></i>
      </a>
      <div id="speakingOne" class="collapse in">
       <p>I show up as a leader in the world through speaking and writing. Bring me to your organization or event to stimulate new thinking and help the audience make new connections. Groups often bring me to talk about such topics as leadership, Islam, queer theology, & interreligious dialogue.</p>
     </div>
   </div>
<div class="panel">
    <a data-toggle="collapse" data-parent="#speaking" href="#speakingFour" class="collapse-trigger">
      <h3>Talks and Workshops</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="speakingFour" class="collapse">
     <p>My speeches and workshop facilitation draw upon my reflection and writing as well as my action and experience in the world. I am ready to craft a customized talk or workshop for a special event or occasion, or for a group that is in need of stimulation and growth. I am eager to share with your audience the fruits of my work as a scholar, a leader, and a contemplative in action.</p>

     <p>Sample topics of speeches and academic talks include:</p>
     <ul>
<li>Islamic Spiritual Resources for Leaders Today</li>
<li>What Leaders Can Learn from Muslim-Christian Dialogue</li>
<li>Beyond Theological Hate-Speech in Christian-Muslim Relations</li>
<li>Queer Comparative Theology</li>
    </ul>

    <p>Workshops make learning real, through lived experience. I have designed and facilitated a wide range of leadership development workshops, including: </p>
    <ul>
    <li>Becoming an Inspiring Leader through Finding Meaning
</li>
      <li>Managing your Energy, Finding your Power
</li>
<li>Taste, Smell, and Touch Islam: A cultural salon of the five senses
</li>
<li>My Land, Your Land, Our Land: Moving into One Another’s Stories
</li>
    </ul>
  </div>
</div>
   <div class="panel">
    <a data-toggle="collapse" data-parent="#speaking" href="#speakingTwo" class="collapse-trigger">
      <h3>What I Believe</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="speakingTwo" class="collapse">
<p>I believe that too often we miss what is really happening. Too often we are half-consciously performing hackneyed caricatures received from TV sitcoms and advertisements. Dazed moments accumulate, and we zone out.
</p>
<p>Looking at ourselves more consciously, we notice misalignment between our lives and our values. We can see how pre-fabricated goals and uncreative forms of living determine our professional quests, our domestic projects, our leisurely pursuits. We observe cookie cutter culture lopping off the most quirky and delightful parts of ourselves.
</p>
<p>Exploring forgotten nooks of reality can clear this desperate malaise. The grandeur of the universe is ever there. We need only notice it. Our magnificence rests deep within. We need only attend to it.
</p>
    </div>
  </div>
  <div class="panel">
    <a data-toggle="collapse" data-parent="#speaking" href="#speakingThree" class="collapse-trigger">
      <h3>What I Write</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="speakingThree" class="collapse">
<p>As an explorer of ultimate reality, both within and without, I traverse the treasure stores of the human experience that are held in the Christian and Islamic traditions. I am no archaeologist. Fascinated as I am by the thoughts of great souls and sharp minds of history, my final focus is us here now. I traverse those forgotten stores to retrieve treasures of insight and possibility for us today.
</p>
<p>I am a theologian who constructs new meaning for us here now in conversation with sages of the past. My research is time travel. I am a comparative theologian who builds bridges of mutual understanding between Christians and Muslims and others who attend to Ultimate Reality. My writing begets solidarity and appreciation.
</p>
<p>I practice interreligious dialogue to make real and practical and present the vision I hold for mutual understanding and appreciation among members of different communities. I practice queer theology to re-think the body and the erotic, their meanings and their possibilities.
</p>
    </div>
  </div>

</div>


<a href="#" class="btn" data-toggle="modal" data-target="#speakingModal">Schedule Exploratory Session</a>
<p class="addon">Let’s talk about your audience & their interests. How can I best engage them? Where do you want me to take them? What expertise & what aspects of who I am shall I bring to them? </p>
</div>


