<div class="plan">
  <div class="panel-group" id="leadership">
    <div class="panel">
      <a data-toggle="collapse" data-parent="#leadership" href="#leadershipOne" class="collapse-trigger" aria-expanded="true">
        <h2>Leadership Development</h2><i class="fa fa-angle-down"></i>
      </a>
      <div id="leadershipOne" class="collapse in">
        <p>Leadership development spurs and accelerates growth through a program with a suite of interventions. Examples include workshops, retreats, experiences in nature, interactions with art, journaling, and experiments. Team and/or individual coaching undergirds and accompanies all elements.</p>
      </div>
    </div>

    <div class="panel">
      <a data-toggle="collapse" data-parent="#leadership" href="#leadershipTwo" class="collapse-trigger">
        <h3>How it works</h3>
      <i class="fa fa-angle-down"></i>
      </a>
      <div id="leadershipTwo" class="collapse">
        <p>Most often teams embark on a leadership development journey together. Team members challenge and support one another in this process. The challenges and delights of team dynamics fuel the learning. </p>
      <p>Since such journeys unfold over time, I typically will accompany clients over the course of 3-12 months. Intensive experiences will be interspersed over the duration of your journey of change. In between, you will put into practice what you are learning and experiment with new possibilities. </p>
      </div>
    </div>
    <div class="panel">
      <a data-toggle="collapse" data-parent="#leadership" href="#leadershipThree" class="collapse-trigger">
       <h3>Nuts and bolts</h3>
      <i class="fa fa-angle-down"></i>
     </a>
     <div id="leadershipThree" class="collapse">
      <p>In the design phase, we will gain clarity about what is currently happening. We will align on audacious goals that best express your purpose and ambition. The elements of your journey will then be custom designed to achieve your goals. One leader from your organization will be the champion for this journey, and typically another will be the liaison for logistics. </p>
      <p>Following the design phase, the real journey begins. Depending on the scale of the program, I will bring additional coaches and transformation facilitators to collaborate on certain interventions. We will communicate regularly about how the journey is going and whether any course adjustments are required. </p>
    </div>
  </div>
  <div class="panel">
    <a data-toggle="collapse" data-parent="#leadership" href="#leadershipFour" class="collapse-trigger">
      <h3>My Clients</h3>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="leadershipFour" class="collapse">
     <p>I have designed and delivered many leadership development programs in organizations across industries, in the USA and the Middle East. I have seen tremendous transformation of individuals and teams over the course of these journeys, with dramatic improvements in their personal and organizational performance.</p>
      <p>Although leadership development programs are most often for groups, it is also conceivable for us to craft a bespoke leadership development journey just for you. I am open to co-creating with you a personal development program that brings you into a realization of your wildest dreams. If you are willing and able to make an earth-shattering life-changing commitment to yourself, let’s talk!</p>
   </div>
 </div>
</div>


<a href="#" class="btn" data-toggle="modal" data-target="#leadershipModal">Schedule Exploratory Session</a>
<p class="addon">Let's discuss your organization and the kind of challenges you are facing. Why does now feel like the right time to begin a leadership development journey for yourself and your team?</p>
</div>


