@include font-face(fontawesome-webfont);
@include font-face(Foglihten-068);
@include font-face(AC_BigSerif_One);




.container {
  max-width: $container;
  background-color: $c-secondary;
  padding: 0 $gap3;
  @media screen and (max-width: $container) {
    width: 100% ;
  }
}

header.header, footer.footer {
  @extend .container;
  background-color: $c-primary;
  color: $c-white;
  a {
    color: $c-white;
  }
}

.site {
  background-color: #ddc694;
}
body {
  font-family: $font-text;
  background-color: $c-bg;
  color: $c-primary;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: $font-title;
}




.steps li {
  font-size: 18px;
  padding-bottom: 10px;
}

a {
  color: #666;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
.main {
  padding-bottom: $gap;
}

.list {
  a {
    display: block;
    @extend h4;
    img {
      display: block;
      padding-top: $gap;
      width: 100%;
    }
  }
}

table {
  width: 100%;
  margin: 20px 0;
  td, th {
    border-top: solid 1px #eee;
    padding: 5px;
    @include transition;
  }
  tr {
    &:last-of-type {
      td, th {
        border-bottom: solid 1px #eee;
      }
      &:hover {
        td, th {
          border-bottom: solid 1px #ccc;
        }
      }
    }
  }
}


h1 {

}
.btn {
  display: block;
  text-align: center;
  font-family: $font-title;
  background-color: $c-primary;
  color: $c-white;
  @include radius($radius);
  @include shadow(box, 0 $radius 0 rgba(0, 0, 0, 0.1));
}
.plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gap2;
  @include prefix((
    column-rule: 1px solid $c-primary
    ), webkit moz);
}