@include font-face(fontawesome-webfont);
@include font-face(Foglihten-068);
@include font-face(AC_BigSerif_One);


body {
  font-family: $font-text;
  font-size: $fs4;
  background-color: $c-bg;
  color: $c-primary;
}

.modal {
  .modal-dialog, .modal-content {
    border-radius: 0 !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
  }
  .modal-content {
  }
.modal-dialog {
  width: 100%;
    max-width: 640px;
  padding: 0;
    box-shadow: 0 $radius 0 rgba(0, 0, 0, 0.1) !important;

}
   iframe {
width: 100%;
border: none;
height: 80vh;
}
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: $font-title;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  padding-top: $gap2;
}

h1 {
  font-size: $fs10;
}

h2 {
  font-size: $fs6;
}
h3 {
  font-size: $fs4;
}

a {
  color: #666;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.container {
  max-width: $container;
  background-color: $c-secondary;
  padding: 0 $gap4;
  @media screen and (max-width: $container) {
    width: 100% ;
  }
}
.cover {
  background-color: $c-cover;
  @include hide-text;
  @extend .container;
  height:  600px;
background-image: url(../images/cover-top.png), url(../images/cover-bottom.png);
background-repeat: repeat-x, no-repeat;
background-position: left top, right bottom;
}
.newsletter, .profile {
  border-top: solid 1px $c-primary;
  grid-gap: $gap4;
  margin-top: $gap4;
    display: grid;
  grid-template-columns: 1fr 2fr;
  & > * {
    padding: $gap4 0;
  }
  .avatar {
    background-image: url(../images/avatar.png);
    background-size: contain;
    opacity: .7;
    background-position: center $gap3;
    background-repeat: no-repeat;
  }
}

.newsletter {
    align-items: center;
      h1, h2, h3, form {
    padding: 0;
    padding-top: $gap4;
    @include border-box;
  }
    form {
          display: grid;
  grid-template-columns: 3fr 1fr;

  .btn {
    @include radius(0, $radius, $radius, 0, irregular);
    }
    .input {
@include radius($radius, 0, 0, $radius, irregular);
padding: 0 $gap2;
border: solid 1px #ccc;
border-right: none;

    }
  }
}


footer.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: $gap2 0;
  a {
    display: block;
}
}



header.header, footer.footer {
  @extend .container;
  background-color: $c-primary;
  color: $c-white;
  a {
    color: $c-white;
    &:hover {
      text-decoration: underline;
    }
  }
}
header.header {
  text-align: right;
  padding-top: $gap;
  padding-bottom: $gap;
  a {
    &:not(:first-of-type) {
      border-left: solid 1px $c-white;
      margin-left: $gap;
      padding-left: $gap;
    }
  }
}

.site {
  background-color: #ddc694;
}


p.quote {
  margin: $gap3 0;
  border-top: solid 1px $c-primary;
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
  background-position: 0 $gap4;
  padding-top: $gap3;
  padding-left: $gap7;
  background-size: $gap5 $gap5;
}





.steps li {
  font-size: 18px;
  padding-bottom: 10px;
}


.main {
  padding-bottom: $gap;
}

.list {
  a {
    display: block;
    @extend h4;
    img {
      display: block;
      padding-top: $gap;
      width: 100%;
    }
  }
}

table {
  width: 100%;
  margin: 20px 0;
  td, th {
    border-top: solid 1px #eee;
    padding: 5px;
    @include transition;
  }
  tr {
    &:last-of-type {
      td, th {
        border-bottom: solid 1px #eee;
      }
      &:hover {
        td, th {
          border-bottom: solid 1px #ccc;
        }
      }
    }
  }
}

.btn {
  display: block;
  text-align: center;
  background-color: $c-primary;
  border: solid 1px $c-primary;
  @include transition;
  font-family: $font-text;
  color: $c-white;
  @include radius($radius);
  @include shadow(box, 0 $radius 0 rgba(0, 0, 0, 0.1));
  &:hover, &:active {
    color: white;
  background-color: lighten($c-primary, 20%);
  }
}
.plans {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  grid-gap: $gap4;
  padding-top: $gap4;
  grid-row-gap: 0;
  .gap {
    background-color: $c-primary;
  }
  .action {a.btn {
   margin-top: $gap2;
  }
p {
  font-size: $fs3;
  }}
}

.panel-group {
  margin-bottom: $gap3;
  .panel {
    @include radius(0);
    background: none;
    padding: 0;
    @include shadow(box, none);
    &:not(:last-of-type) {
    border-bottom: solid 1px $c-primary;
    }
    i.fa {
font-size: $fs4;
margin: 0;
paddinG: 0;
margin-top: -3px;
text-align: right;
    }
    p:last-of-type {
     padding-bottom: $gap2;
    }
    .collapse-trigger {
        display: grid;
        color: $c-primary !important;
  grid-template-columns: 1fr $gap3;
  align-items: center;
  &[aria-expanded="true"] {
    text-decoration: none !important;
    i.fa {
     transform: rotate(180deg) translate(-5px, 0px);

    }
  }
h3 {
  padding: $gap 0;
}
h2 {
  padding-bottom: $gap;
}
  }
  }
}

.addon {
  font-size: $fs3;
  padding-top: $gap3;
  padding-bottom: 0;
}