@include font-face(fontawesome-webfont);
@include font-face(Foglihten-068);
@include font-face(AC_BigSerif_One);




.container {
  max-width: $container;
  background-color: $c-secondary;
  padding: 0 $gap4;
  @media screen and (max-width: $container) {
    width: 100% ;
  }
}
.cover {
  background-color: $c-cover;
  @include hide-text;
  @extend .container;
  height:  600px;
background-image: url(../images/cover-top.png), url(../images/cover-bottom.png);
background-repeat: repeat-x, no-repeat;
background-position: left top, right bottom;
}
.newsletter, .profile {
  border-top: solid 1px $c-primary;
  margin-top: $gap4;
  & > * {
    padding: $gap4 0;
  }
  .avatar {
    margin-left: -$gap4;
    background-image: url(../images/avatar.png);
    background-size: cover;
    height: 250px;
    opacity: .8;
    background-position: left $gap2;
    background-repeat: no-repeat;
  }
}
.newsletter, .profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

footer.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: $gap2 0;
  a {
    display: block;
}
}



header.header, footer.footer {
  @extend .container;
  background-color: $c-primary;
  color: $c-white;
  a {
    color: $c-white;
    &:hover {
      text-decoration: underline;
    }
  }
}
header.header {
  text-align: right;
  padding-top: $gap;
  padding-bottom: $gap;
  a {
    &:not(:first-of-type) {
      border-left: solid 1px $c-white;
      margin-left: $gap;
      padding-left: $gap;
    }
  }
}

.site {
  background-color: #ddc694;
}
body {
  font-family: $font-text;
  background-color: $c-bg;
  color: $c-primary;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: $font-title;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  padding-top: $gap2;
}

h1 {
  font-size: $fs10;
}

h2 {
  font-size: $fs6;
}




.steps li {
  font-size: 18px;
  padding-bottom: 10px;
}

a {
  color: #666;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
.main {
  padding-bottom: $gap;
}

.list {
  a {
    display: block;
    @extend h4;
    img {
      display: block;
      padding-top: $gap;
      width: 100%;
    }
  }
}

table {
  width: 100%;
  margin: 20px 0;
  td, th {
    border-top: solid 1px #eee;
    padding: 5px;
    @include transition;
  }
  tr {
    &:last-of-type {
      td, th {
        border-bottom: solid 1px #eee;
      }
      &:hover {
        td, th {
          border-bottom: solid 1px #ccc;
        }
      }
    }
  }
}

.btn {
  display: block;
  text-align: center;
  font-family: $font-title;
  background-color: $c-primary;
  color: $c-white;
  @include radius($radius);
  padding: $c-white;
  @include shadow(box, 0 $radius 0 rgba(0, 0, 0, 0.1));
  &:hover {
    color: white;
  }
}
.plans {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  grid-gap: $gap4;
  padding-top: $gap4;
  grid-row-gap: 0;
  .gap {
    background-color: $c-primary;
  }
}
